/* Styles Généraux */
body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Ajout d'une couleur de fond */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #fff; /* Changer la couleur du texte pour contraster avec le fond */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Uniformiser la couleur du texte */
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700; /* Changer la couleur au survol */
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50; /* Uniformiser la couleur du texte */
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Styles des pages */
.page {
    display: none;
    padding: 20px;
}

.page.hidden {
    display: none !important;
}

.page:not(.hidden) {
    display: block;
}

/* Formulaires */
form {
    margin-bottom: 2rem;
    background-color: #f9f9f9; /* Changer la couleur de fond en gris clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 10px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

pre {
    background-color: #eee;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Filtres */
#filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #4CAF50; /* Uniformiser la couleur de fond */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filters label {
    font-weight: bold;
    margin-right: 10px;
    color: #fff; /* Uniformiser la couleur du texte */
}

#filters select, #filters .checkbox-group {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 20px;
}

#filters .checkbox-group label {
    color: #333; /* Changer la couleur du texte en gris foncé */
}

/* Graphiques */
.chart {
    margin-top: 20px;
    background-color: #f9f9f9; /* Changer la couleur de fond en gris clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#json-output-container, #data-table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
    overflow-x: auto;
}

.checkbox-group {
    max-height: 100px; /* Reduced height */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upload-form input[type="file"] {
    margin-bottom: 10px;
}

#upload-form button {
    background-color: #4CAF50; /* Changer la couleur du bouton en vert */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#upload-form button:hover {
    background-color: #388E3C; /* Changer la couleur au survol */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #4CAF50; /* Uniformiser la couleur de fond */
    color: #fff; /* Uniformiser la couleur du texte */
}
